*, *::before, *::after {
    box-sizing: border-box;
    font-family: Avenirnextltpro, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #f3f3f4;
    color: #333333;
    max-width: 100%
}

/*----------- Content styles -----------*/
.homepage {
    text-align: center;
    padding: 2%;
    margin-bottom: 3vh;
}
.heading {
    text-align: center;
    font-size: 5.5vh;
} 
.heading_p{
    font-size: 3vh;
    padding: 4%;
    text-align: center;
    transition: all 1s;
    animation: 1s ease slidein;
}
#back_to_start_btn {
    text-align: center;
}
#dback_to_start_btn {
    text-align: center;
}
.dgrid {
    text-align: center;
    padding: 2%;
}
.dgrid span{
    display: inline-block;
    margin: 1%;
}
.intro {
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#getstarted {
    height: 100px;
    width: 200px;
    font-size: 1rem;

}

#question-container {
    width: 96%;
    padding: 2%;
    vertical-align: middle;
    height: 100vh;
}

.btn {
    background-color: #292929;
    color: #f3f3f4;
    border: solid 2px #f3f3f3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 400px;
    font-size: 3vh;
}
.next_button{
    margin: auto;
}
.back_button{
    margin-left: auto;
}
.btn:hover {
    background-color: hsla(0, 0%, 16%, 0.80);
    transition: .2s;
}
.radioinputs {
    text-align: center;
    width: 80%;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio__input {
    display: none;
}
.radio__label {
    width: 100%;
    padding: 8px 14px;
    font-size: 1.75vh;
    color: #333333;
    background: #ecedf3;
    cursor: pointer;
    transition: 0.5s;
}
.radio__label:not(:last-of-type) {
    border-right: 1px solid white;
}

.radio__input:checked + .radio__label {
    background: #8dc63f;
    color: #f3f3f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.dgrid {
    font-size: 3.5vh;
}
.dradio__input {
    display: none;
}



.question-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    font-size: 3vh;
}


/* ------------------- disc styles ---------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.content {
    margin: 15px;
    text-align: center;
}
ol {
    list-style: none;
    padding: 0;
}

.dataStep li {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid grey;
}

.dataStep {
    animation: 1s ease fadeIn;
}

/* .dataStep li:nth-of-type(2n) {
    background: rgba(0,0,0,.05);
} */

.controls {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 300px;
    padding: 15px 20px;
    border-radius: 500px;
    border: none;
    background: #292929;
    color: #f3f3f4;
    font-size: 18px;
}

#finalScores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 10px 0;
}

#dendpage {
    animation: 1.5s ease fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#dd_score, #di_score, #ds_score, #dc_score {
    cursor: pointer;
}

.hide {
    display: none;
}
/* ----------------- end -------------------------------------*/
#results-here {text-align: center;}


#endpage {
   padding: 5%;

}
.center_text {
    text-align: center;
}
.left_align {
    text-align: left;
}
#topthree {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#DISC_final_scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 4vh;
    padding: 2%;
}
.dresult {
    margin: 10px;
    cursor: pointer;
}
.set1 {
    transition: all 1s;
    animation: 1s ease slidein;
}

.result {
    min-height: 100px;
    min-width: 200px;
    font-size: 250%;
    margin: 15px;
    animation: 4s ease slidein;

}
#allscores {
    border: solid 1px black;
    background-color: hsl(10, 10%, 96%);
    padding: 3%;
}

@keyframes slidein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.explanation {
    font-size: 14pt;
    max-width: 500px;
}
#allscores {
   text-align: center;
}
.allthat {
    text-align: center;
}
.set li {
    font-size: 150%;
}
@media (max-width: 1025px)  {
    
    .top_progress_bar {
        background-color: #333333;
        color: #f3f3f4;
        position: fixed;
        padding-top: 1vh;
        padding-bottom: 1vh;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 3vh;
        margin-top: 5px;
    }
    .set li {
        font-size: 5vw;
    }
}
@media (min-width: 1026px) {
    .top_progress_bar {
        color: #333333;
        padding-top: 1vh;
        padding-bottom: 1vh;
        height: auto;
        text-align: center;
        font-size: 4vh;
        margin-top: 5px;
    }
    .dradio__label:nth-of-type(n) {
        padding: 50px;
    }
    .dradio__label:nth-of-type(2n) {
        padding: 40px;
    }
    .dradio__label:nth-of-type(3n) {
        padding: 30px;
    }
    .dradio__label:nth-of-type(4n) {
        padding: 40px;
    }
    .dradio__label:nth-of-type(5n) {
        padding: 50px;
    }
}
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}
.hide {
    display: none;
}
#dlegend {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#dlegend div {
    padding: 10px;
    font-size: 100%;
}
